<%- include("./partials/header.ejs")%> 
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg js-primary">
      <div class="container-fluid">
        <a href="#" class="navbar-brand">Branden Wheeler</a>

        <!-- Uncollapsed content -->
        <ul class="navbar-nav ms-2 uncollapsed">
          <li class="nav-item">
            <a href="/" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link">Languages</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link">Technologies</a>
          </li>
        </ul>

        <!-- Hamburger menu button -->
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#additionalPageMenu"
          aria-controls="additionalPageMenu"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsed Content -->
        <div class="collapse navbar-collapse" id="additionalPageMenu">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <h2 class="heading">Contact me!</h2>
    <h4 class="heading">I promise I'm friendly</h4>
    <!-- Contact form -->
    <form action="/" method="POST" class="contact-form">
      <label for="email" class="form-label">Email Address</label>
      <input
        id="email"
        type="email"
        placeholder="example@domain.com"
        class="form-control"
      />
      <label for="title" class="form-label">Title</label>
      <input id="title" type="text" class="form-control" />
      <label for="content" class="form-label">Content</label>
      <textarea
        name="content"
        id="content"
        rows="5"
        class="form-control"
      ></textarea>
      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
<%- include("./partials/footer.ejs")%> 
