/* General Styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #323330;
}

/* Navbar styles */
.navbar {
  padding: 1% 5%;
}
.navbar-brand {
  font-size: 1.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.nav-link {
  margin-left: 5%;
}

.navbar-collapse {
  text-align: right;
}

@media (max-width: 975px) {
  .uncollapsed li {
    display: none;
  }
  .hide-small {
    display: none;
  }
}

/* Intro section styles */
.intro-container {
  background-image: url("../images/intro-background.jpg");
  background-size: 100% 100%;
  text-align: center;
  padding-bottom: 50px;
}

.summary-box {
  width: auto;
  height: auto;
  background-color: #ecebec;
  border: 5px solid #323330;
  border-radius: 25px;
  margin: 5%;
  padding: 5px;
}

.summary-box p {
  text-align: center;
  color: #323330;
  font-size: 16pt;
}

.img-branden {
  margin: 2% 0;
  border-radius: 100%;
  border: 5px;
  border-style: solid;
  border-color: #323330;
  height: 20rem;
}

/* Languages Styles */
.languages-container {
  text-align: center;
  padding-bottom: 4%;
}

.carousel {
  background-color: #f8f8ff;
  padding: 0 1%;
}

.carousel-img {
  height: 150px;
  margin: 10px 0;
  width: auto;
}

.carousel-item {
  padding: 1%;
  margin-bottom: 20px;
  align-items: center;
}

.carousel-item h5 {
  color: #323330;
}

/* Tech section styles */
.tech-section {
  text-align: center;
}

.row {
  display: flex;
  justify-content: space-evenly;
  padding: 3%;
  margin: 0;
}

.card {
  margin: 30px 10px;
  width: 18rem;
  padding: auto;
  align-items: center;
  background-color: #f8f8ff;
  border-radius: 25px;
}

.card * {
  color: #323330;
}

.card-img-top {
  padding-top: 25px;
  width: auto;
  height: 100px;
}

/* Footer styles */
footer {
  text-align: center;
  padding: 15px 0;
}

.social-btn {
  margin: 0 10px;
}

/* Contact Page Styles */
.contact-form {
  margin: 0 7% 3%;
}

.form-control {
  margin-bottom: 10px;
}

.heading {
  text-align: center;
  margin-top: 5px;
}
