/* Navbar styles */
.navbar {
  padding: 1% 5%;
}
.navbar-brand {
  font-size: 1.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.nav-link {
  margin-left: 5%;
}

.navbar-collapse {
  text-align: right;
}

@media (max-width: 975px) {
  .uncollapsed li {
    display: none;
  }
  .hide-small {
    display: none;
  }
}

/* Intro section styles */
.intro-container {
  background-image: url("../images/intro-background.jpg");
  width: 100%;
  height: auto;
  text-align: center;
  padding-bottom: 50px;
}

.summary-box {
  width: auto;
  height: auto;
  background-color: #323330;
  border: 5px solid white;
  border-radius: 25px;
  padding: 10px;
  margin: 0 5%;
}

.img-branden {
  margin: 2% 0;
  border-radius: 100%;
  border: 5px;
  border-style: solid;
  border-color: white;
  height: 20rem;
}

.summary-box p {
  text-align: center;
  color: white;
  font-size: 16pt;
}

/* Languages Styles */
.languages-container {
  text-align: center;
  background-color: #f7e119;
  padding-bottom: 4%;
}

.carousel {
  background-color: #f8f8ff;
  padding: 0 1%;
}

.carousel-img {
  padding: 60px 0 40px;
  width: 10%;
}

.carousel-caption {
  position: relative;
  left: 0;
  bottom: 20;
}

/* Tech section styles */
.tech-section {
  text-align: center;
}

.row {
  display: flex;
  justify-content: space-evenly;
  padding: 30px 0;
}

.card {
  margin: 30px 0;
  width: 18rem;
  padding: auto;
  align-items: center;
  background-color: #f8f8ff;
  color: #323330;
  border-radius: 25px;
}

.card-img-top {
  margin-top: 10px;
  height: 3em;
  width: auto;
}

/* Footer styles */
footer {
  text-align: center;
}

.social-btn {
  margin: 0 20px;
}
