/* Navbar styles */
.navbar {
  padding: 1% 5%;
}
.navbar-brand {
  font-size: 1.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #323330;
}

.nav-link {
  margin-left: 5%;
  color: #323330;
}

.navbar-collapse {
  text-align: right;
}

@media (max-width: 975px) {
  .uncollapsed li {
    display: none;
  }
  .hide-small {
    display: none;
  }
}

/* Intro section styles */
.intro-container {
  background-image: url("../images/intro-background.jpg");
  background-size: 100% 100%;
  text-align: center;
  padding-bottom: 50px;
}

.summary-box {
  width: auto;
  height: auto;
  background-color: #ecebec;
  border: 5px solid black;
  border-radius: 25px;
  padding: 10px;
  margin: 0 5%;
}

.img-branden {
  margin: 2% 0;
  border-radius: 100%;
  border: 5px;
  border-style: solid;
  border-color: white;
  height: 20rem;
}

.summary-box p {
  text-align: center;
  color: white;
  font-size: 16pt;
}

/* Languages Styles */
.languages-container {
  text-align: center;
  padding-bottom: 4%;
}

.carousel {
  background-color: #f8f8ff;
  padding: 0 1%;
}

.carousel-img {
  padding: 60px 0 40px;
  width: 10%;
}

.carousel-caption {
  position: relative;
  left: 0;
  bottom: 20;
}

/* Tech section styles */
.tech-section {
  text-align: center;
}

.row {
  display: flex;
  justify-content: space-evenly;
  padding: 30px 0;
}

.card {
  margin: 30px 0;
  width: 18rem;
  padding: auto;
  align-items: center;
  background-color: #f8f8ff;
  color: #323330;
  border-radius: 25px;
}

.card-img-top {
  padding-top: 25px;
  width: 40%;
}

/* Footer styles */
footer {
  text-align: center;
  margin: 20px 0;
}

.social-btn {
  margin: 0 20px;
}

/* Individual Language Styles */
/* Javascript Styles */
.js-primary {
  transition: 0.5s;
  background-color: #f7e119;
  color: #323330;
}

.js-secondary {
  transition: 0.5s;
  background-color: #baa30c;
  color: #323330;
}

/* HTML Styles */
.html-primary {
  transition: 0.5s;
  background-color: #e65326;
}

.html-secondary {
  transition: 0.5s;
  background-color: #ea9172;
}

/* CSS Styles */
.css-primary {
  transition: 0.5s;
  background-color: #047ec6;
}

.css-secondary {
  transition: 0.5s;
  background-color: #61c0ee;
}

/* Python Styles */
.python-primary {
  transition: 0.5s;
  background-color: #fcd441;
}

.python-secondary {
  transition: 0.5s;
  background-color: #3474a6;
}

/* Java Styles */
.java-primary {
  transition: 0.5s;
  background-color: #dc3b0c;
}

.java-secondary {
  transition: 0.5s;
  background-color: #74a4fc;
}

/* C Styles */
.c-primary {
  transition: 0.5s;
  background-color: #044f8f;
}

.c-secondary {
  transition: 0.5s;
  background-color: #639bd3;
}

/* SQL Styles */
.sql-primary {
  transition: 0.5s;
  background-color: #cc8c2c;
}

.sql-secondary {
  transition: 0.5s;
  background-color: #04648c;
}

/* VBA Styles */
.vba-primary {
  transition: 0.5s;
  background-color: #90247e;
}

.vba-secondary {
  transition: 0.5s;
  background-color: #6383c2;
}
